* {
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0;
    background: #131313;
    overflow: hidden;
}

h1 {
    color:rgb(11, 153, 18);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) scale(2, 2);
    transition: 0.5s ease-in-out;
    cursor: default;
    white-space: nowrap;
}
h1.top {
    top: 0;
    transform: translateX(-50%);
    color: white;
    white-space: nowrap;
}

#main {
    opacity: 0;
    transition: 1s;
    color: ghostwhite;
    margin-top: 100px;
}
h2 {
    text-align: center;
    margin: 0;
    cursor: default;
    color: white;

}
h3 {
    text-align: center;
    cursor: default;
    color: white;
}

.underline:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}

.proj-button:hover{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.proj-desc{
        width: 10%;
        margin: 10px;
}
.arduino{
    color: turquoise;
    
}

.htmlcssjs{
    color:orange;
}

.java{
    color: rgb(6, 175, 6);
}

.me{
    color: grey
}

.proj-panel {
	opacity: 0;
	transition: opacity 0.5s linear;
	margin-top: 120px;
	position: absolute;
	width: 100%;
	z-index: -100;
	text-align: center;
}

.proj-panel.shown {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}



.modal {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform: 200ms ease-in-out;
    background: #131313;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 1000;
    width: 90vw;
    height: 70vh;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 10px;
    border-bottom: 1px solid white;
    font-size: x-large;

}

.modal-header .title {
    align-self: center;
}

.modal .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	line-height: 20px;
	margin: 0;
	border: 2px solid white;
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-left-radius: 20px;
	cursor: pointer;
}

.modal-body {
    padding: 30px 20px;
}

.modal-body .close-button {
    cursor: pointer;
    border: none;
    outline: none; 
    background: none;
    font-weight: bold;
}
